@import "tailwindcss";


.active
{
    font-weight: bold;
}
@theme {
  
    /* --color-primary: #2563eb; */
    --color-primary: #5937e0; /* Valeurs HSL */
    --color-secondary: #facc15;
    --color-neutral: #fafafa;
    --color-neutral2:  #111827;
    --font-text1:  "roboto";
}
